@font-face {
  font-family: "Favorit";
  src: url("fonts/ABCFavorit-Light-Trial.woff2") format("woff2"),
    url("fonts/ABCFavorit-Light-Trial.woff") format("woff");
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1,
    "rclt" 1;
  font-variation-settings: "wght" 200, "ital" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Favorit";
}

body {
  padding: 0px 0px;
  min-height: 100%;
  display: flex;
  font-size: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}

nav {
  position: fixed;
  height: 75px;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 12;
  border-bottom: 0.1px solid #000;
}

nav .menu {
  display: flex;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 10px;
}

nav .menu .logo a {
  text-decoration: none;
  color: #000;
  min-height: 100%;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 200;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  font-style: normal;
  border-bottom: none;
}

nav .menu .lists {
  display: flex;
  background-color: white;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin-top: -5px;
}

nav .menu .menu-lists {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .menu .lists li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px 30px;
  height: 100%;
  width: 100%;
}

nav .menu .lists li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
}

.menu ul li a:hover {
  text-decoration: underline;
  color: #000;
}
nav .menu .lists li .sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  line-height: 40px;
  background: #fff;
  display: none;
  z-index: 2;
  border: 0.1px solid #000;
}

nav .menu .lists li:hover .sub-menu {
  display: block;
}

.menu .lists li .sub-menu li {
  padding: 0 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
}

.menu .lists li .sub-menu a {
  color: #000;
  text-align: center;
  flex-wrap: nowrap;
}

.container {
  display: grid;
  position: absolute;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 3fr;
}
.left {
  margin-top: 4px;
  padding: 30px 40px;
  float: left;
  width: 30vw;
  background: #fff;
  height: 100vh;
  overflow: scroll;
  border: 0.1px solid #000;
  overflow-wrap: break-word;
  pointer-events: none;
  transition: all 0.4s ease;
  line-height: 1.6;
}

.right {
  margin-top: 4px;
  padding: 30px 40px;
  float: left;
  background: #fff;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  border: 0.1px solid #000;
  text-align: left;
  overflow-wrap: break-word;
}

nav.open ~ .container .left {
  width: 20vw;
  pointer-events: auto;
}

nav.open ~ .container .right {
  width: 1000vw;
  pointer-events: auto;
}
